version: '3.8'

services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: nutri_doctor_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-admin}
      POSTGRES_PASSWORD: ${DB_PASS:-admin123}
      POSTGRES_DB: ${DB_NAME:-nutridoctor}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
